.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.items {
  display: flex;
  flex-wrap: wrap;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  height: 600px;
  margin-bottom: 44px;
}
.card a.button {
  border: none;
  outline: 0;
  padding: 18px;
  color: #fff;
  background-color: #d6d6d6;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  border-radius: 12px;
}
.card img {
  width: 100%;
  height: 300px;
}
.card a {
  text-decoration: none;
  color: black;
}
.nav-cont {
  height: 100px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-cont ul {
  list-style: none;
  display: flex;
  align-items: center;
} 
.nav-cont ul li {
  margin-right: 16px;
}
.nav-cont ul li:last-child {
  margin-right: 0;
}
.nav-cont ul li a {
  text-decoration: none;
  color:black;
}
.nav-cont h1 {
  font-size: 44px;
  font-weight: 700;
}
.hello {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 44px;
}
.products ul {
  list-style: none;
  display: flex;
}
.products ul li {
  margin-right: 16px;
}
.products ul li:last-child {
  margin-right: 0;
}
.products ul li a {
  text-decoration: none;
  color:black;
}
.left {
  height: 100vh;
  width: 200px;
}
.products .active {
  padding: 6px;
  border: 1px solid #d3d3d3;
}
.nav-cont .active {
  border-bottom: 1px solid #d3d3d3;
}
.box {
  width:100%;
  height:100vh;
}
.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.container img {
  margin: 0 auto;
}